/*
main color: #607d8b
*/
body {
  background-color: #f6f1ea;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  /* prevent tap highlight color/shadow */
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.center {
  text-align: center;
}

/* BUTTON */
.btn {
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  outline: none;
  border: none;
  line-height: normal;
  white-space: nowrap;
  background-color: #bdbdbd;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}
.btn[disabled] {
  opacity: 0.8;
  cursor: default;
}
html.no-touch .btn:hover:not([disabled]) {
  background-color: #9e9e9e;
}

@media all and (min-width: 768px) {
  .btn {
    font-size: 17px;
  }
}
