[data-ub-sudoku] {
  border: 1px solid #000000;
  display: inline-block;
}
[data-ub-sudoku] td {
  border: 1px solid #000000;
}

[data-ub-sudoku] input[type=number] {
  border: 0;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 18px;
}
[data-ub-sudoku] input[type=number]:focus {
  outline: 0;
}
[data-ub-sudoku] input[type=number].error,
[data-ub-sudoku] table.error input[type=number] {
  background-color: #E57373;
}
[data-ub-sudoku] input[type=number].success {
  background-color: #81C784;
}
[data-ub-sudoku] input[type=number] {
  -moz-appearance: textfield;
}
[data-ub-sudoku] input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
[data-ub-sudoku] input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.page-index .validate-btn {
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  font-weight: 400;
  font-size: 17px;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  outline: none;
  border: none;
  line-height: normal;
  white-space: nowrap;
  background-color: #BDBDBD;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}
.page-index .validate-btn:hover {
  background-color: #9E9E9E;
}

@media all and (min-width: 768px) {
  [data-ub-sudoku] input[type=number] {
    width: 44px;
    height: 44px;
    font-size: 24px;
  }
}
