@-webkit-keyframes rotate {
  0.00% {
    transform: scale(0.5) rotate(0deg);
    -webkit-transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(0.5) rotate(360deg);
    -webkit-transform: scale(0.5) rotate(360deg);
  }
}
@keyframes rotate {
  0.00% {
    transform: scale(0.5) rotate(0deg);
    -ms-transform: scale(0.5) rotate(0deg);
    -moz-transform: scale(0.5) rotate(0deg); /* won't work on FF without this */
    -webkit-transform: scale(0.5) rotate(0deg);
  }
  100% {
    transform: scale(0.5) rotate(360deg);
    -ms-transform: scale(0.5) rotate(360deg);
    -moz-transform: scale(0.5) rotate(360deg);
    -webkit-transform: scale(0.5) rotate(360deg);
  }
}