.page-index .title {
  text-align: center;
}

.page-index .table-wrapper {
  text-align: center;
}

.page-index .toolbar {
  background-color: #607d8b;
  border-radius: 3px 3px 0 0;
  padding: 10px 0;
  max-width: 316px; /* just to match the table width */
  margin: 0 auto;
  position: relative;
}
.page-index .btn {
  display: inline-block;
  padding: 10px 20px;
}

.page-index .success-gif {
  border-radius: 3px;
  position: absolute;
  left: 0;
  right: auto;
  bottom: auto;
  top: 100px;
  width: 100%;
  display: none;
  z-index: 1;
}
.page-index .success-gif.show {
  display: block;
  -webkit-animation: gifShow 300ms both;
  animation: gifShow 300ms both;
}

@media all and (min-width: 768px) {
  .page-index .toolbar {
    max-width: 496px;
  }
  .page-index .success-gif {
    top: 165px;
  }
}

@-webkit-keyframes gifShow {
  0.00% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100.00% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes gifShow {
  0.00% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100.00% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}