.page-index .main-toolbar {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: auto;
  left: auto;
}
.page-index .main-toolbar > i {
  cursor: pointer;
  color: #90a4ae;
  opacity: 0.8;
  font-size: 18px;
  padding: 3px 5px;
  -webkit-transition: color 200ms, opacity 200ms;
  transition: color 200ms, opacity 200ms;
}
html.no-touch .page-index .main-toolbar > i:hover {
  color: #607d8b;
  opacity: 1;
}

.page-index .title {
  text-align: center;
}

.page-index .table-wrapper {
  text-align: center;
}

.page-index .toolbar {
  background-color: #607d8b;
  padding: 10px 0;
  max-width: 316px; /* just to match the table width */
  margin: 0 auto;
  position: relative;
}
.page-index .toolbar.top {
  border-radius: 3px 3px 0 0;
}

.page-index .btn {
  display: inline-block;
  padding: 5px 10px;
}
.page-index .validate-btn,
.page-index .save-btn,
.page-index .cheat-fill-btn {
  display: none;
}
html.no-localstorage .page-index .save-btn {
  display: none !important;
}

.page-index .timer {
  font-size: 18px;
}
.page-index .timer > span {
  vertical-align: middle;
}

.page-index .success-gif-container {
  position: absolute;
  left: 0;
  right: auto;
  bottom: auto;
  top: 100px;
  display: none;
  z-index: 1;
  width: 100%;
}
.page-index .success-gif-container.show {
  display: block;
}
.page-index .success-gif {
  border-radius: 3px;
  width: 100%;
  opacity: 0;
}
.page-index .success-gif.show {
  -webkit-animation: gifShow 300ms both;
  animation: gifShow 300ms both;
}

.page-index #settings-modal input[type=checkbox] {
  outline: 0;
  vertical-align: middle;
}
.page-index #settings-modal label {
  vertical-align: middle;
}

.page-index #abuse-modal img {
  width: 100%;
}

@media all and (min-width: 768px) {
  .page-index .toolbar {
    max-width: 478px;
  }
  .page-index .btn {
    padding: 10px 20px;
  }
  .page-index .timer {
    font-size: 22px;
  }
  .page-index .success-gif-container {
    top: 165px;
  }
}

@-webkit-keyframes gifShow {
  0.00% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100.00% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes gifShow {
  0.00% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100.00% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
